<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/modal-osx.css">

<div class="container">
    <div class="row">
        <div class="col-md-6 status">
            <h3>Now Playing:</h3>
            <h1 id="np-title"></h1>
            <h2 id="np-artist"></h2>
        </div>
        <div class="col-md-6 status">
            <h3>Next Up:</h3>
            <h1 id="next-title"></h1>
            <h2 id="next-artist"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 buttons">
            <button class="btn btn-default btn-lg" onclick="mpdClear();"><i class="icon-remove"></i> Clear</button>
            <button class="btn btn-default btn-lg" onclick="mpdPlayPause();"><i class="icon-play"></i> <strong>/</strong> <i class="icon-pause"></i></button>
            <button class="btn btn-default btn-lg" onclick="mpdNext();"><i class="icon-fast-forward"></i></button>
            <input class="form-control input-lg" type="text" placeholder="Search" style="display: inline-block; width: 400px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Upcoming Songs</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Artist</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tracks" />
            </table>
        </div>
    </div>
    <div id="osx-modal-content">
        <div id="osx-modal-title">Search Results</div>
        <div class="close"><a href="#" class="simplemodal-close">x</a></div>
        <div id="osx-modal-data">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Artist</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="results">
                    

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/corelogic.js"></script>
<script src="/js/jquery.simplemodal.js"></script>
<script src="/js/modal-osx.js"></script>
