<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/modal-osx.css">

<div class="container">
    <div class="row">
        <div class="col-md-6 status">
            <h3>Now Playing:</h3>
            <h1 id="np-title"></h1>
            <h2 id="np-artist"></h2>
        </div>
        <div class="col-md-6 status">
            <h3>Next Up:</h3>
            <h1 id="next-title"></h1>
            <h2 id="next-artist"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 controls">
            <div class="buttons">
                <button class="btn btn-default btn-lg" onclick="toggleVolume();"><i class="icon-volume-up"></i></button>
                <button id="btn-pause" class="btn btn-default btn-lg" onclick="mpdPause();"><i class="icon-pause"></i></button>
                <button id="btn-play" class="btn btn-default btn-lg" onclick="mpdPlay();"><i class="icon-play"></i></button>
                <button class="btn btn-default btn-lg" onclick="mpdRemoveZero();"><i class="icon-fast-forward"></i></button>
            </div>
            <form id="search-form">
                <select id="search-scope" class="form-control">
                    <option>Any</option>
                    <option>Artist</option>
                    <option>Album</option>
                    <option>Title</option>
                </select>
                <input id="search-box" class="form-control input-lg" type="text" placeholder="Search">
            </form>
            <div id="volume-container">
                <input id="volume" class="knob" data-angleoffset="-125" data-linecap="round" data-anglearc="250" data-fgcolor="#428bca" value="0">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-left: 30px; margin-right: 30px;">
    <h3>Upcoming Songs</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Time</th>
                <th>Artist</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tracks" />
    </table>
</div>
<div class="row">
    <div class="col-md-12 buttons">
        <button id="btn-clear" class="btn btn-default btn-lg" onclick="mpdClear();"><i class="icon-exclamation-sign"></i> Clear Playlist</button>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.knob.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
<script src="/js/indexlogic.js"></script>
