td {
    vertical-align: middle !important;
}
#tracks td {
    font-size: 18px;
}
.status, .buttons, .controls {
    text-align: center;
}
.status {
    margin-top: 40px;
}
.buttons {
    margin-top: 40px;
    margin-bottom: 20px;
}
#search-form {
    display: inline-block;
}
#search-scope {
    display: inline-block;
    width: 75px;
    height: 45px;
}
#search-box {
    display: inline-block;
    width: 400px;
}
#search-box.loading {
    background:url('/img/loading-bars.gif') no-repeat right center;
    background-size: 36px 36px;
}
#osx-container {
    overflow: auto;
    max-height: 80%;
}
#volume-container {
    display: none;
    margin-top: 20px;
}
