td {
    vertical-align: middle !important;
}
#tracks td {
    font-size: 18px;
}
#results td {
    font-size: 14px;
}
div.status, div.buttons {
    text-align: center;
}
div.status {
    margin-top: 40px;
}
div.buttons {
    margin-top: 40px;
    margin-bottom: 20px;
}
#search-form {
    display: inline-block;
}
#search-box {
    display: inline-block;
    width: 400px;
}