.buttons {
    text-align: center;
    margin-bottom: 20px;
}
td {
    vertical-align: middle !important;
}
#results td {
    font-size: 18px;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
